@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
    font-size: 1.6rem;
}

.container {
    padding: 4rem 2rem;
}

h2 {
    font-size: 3rem;
    color: #0ef;
}

.card {
    background: #323946;
    border: none;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    text-align: center;
}

#pagination-container {
    margin-top: 2rem;
}

.pagination {
    display: inline-flex;
    list-style-type: none;
    padding-left: 0;
}

.pagination li {
    margin: 0 0.5rem;
}

.pagination a {
    display: block;
    padding: 0.5rem 1rem;
    background: #0ef;
    color: #1f242d;
    border-radius: 0.5rem;
    transition: background 0.3s;
}

.pagination a:hover {
    background: #0cc;
}
