@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reinicio de estilos y configuración básica */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
    font-size: 1.6rem;
}

section {
    padding: 10rem 5%;
}

/* Encabezado de la sección */
.custom-heading {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
}

.custom-heading span {
    color: #37c3d8;
}

/* Contenedor principal de los items */
.custom-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

/* Estilo de cada item individual */
.custom-skill-item {
    width: 30%; /* Tres items por fila */
    min-width: 250px; /* Ancho mínimo para pantallas pequeñas */
    box-sizing: border-box;
    margin-bottom: 4rem;
}

/* Estilo de la tarjeta */
.custom-card {
  position: relative;
  height: 200px; /* Mantiene una altura fija para las tarjetas */
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 10px 30px 5px rgba(35, 207, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 35px 7px rgba(35, 207, 255, 0.3);
}

/* Imagen dentro de la tarjeta */
.custom-card img {
  height: 100%; /* Mantiene una altura fija para las tarjetas */
  width: 100%;
  position: absolute; /* Posiciona la imagen dentro de la tarjeta */
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}

.custom-card:hover img {
  opacity: 1;
}


/* Descripción debajo de la tarjeta */
.texto-descripcion {
    margin-top: 1rem;
    color: #fff;
    text-align: justify;
    font-size: 0.9rem;
}
/* ... Tu CSS existente ... */


/* Estilos para el contenedor de paginación */
/* Estilos para el contenedor de paginación */
#pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 0rem;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 0.7rem;
}

.pagination a,
.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem; /* Establecemos un ancho fijo */
  height: 2.5rem; /* Establecemos una altura fija para hacer los botones cuadrados */
  font-size: 1.2rem;
  background: #0ef;
  color: #1f242d;
  border-radius: 20%; /* Hacemos los botones circulares */
  transition: background 0.3s;
  text-decoration: none;
  margin-left: 0.6rem;
}

.pagination a:hover,
.pagination span:hover {
  background: #0cc;
  color: #1f242d;
}

.pagination li.active a,
.pagination li.active span {
  background: #fff;
  color: #1f242d;
}

.pagination li.disabled a,
.pagination li.disabled span {
  background: #ccc;
  color: #666;
  cursor: not-allowed;
}

.pagination li.disabled a:hover,
.pagination li.disabled span:hover {
  background: #ccc;
  color: #666;
}
